<!-- components/footer.html -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>عن الأسطى</h5>
                <p>منصة الأسطى تربطك بأفضل الحرفيين في مختلف التخصصات. اطلب خدمتك الآن!</p>
            </div>
            <div class="col-md-4">
                <h5>روابط سريعة</h5>
                <ul class="list-unstyled">
                    <li><a href="index.html">الرئيسية</a></li>
                    <li><a href="specialties.html">التخصصات</a></li>
                    <li><a href="custom-request.html">طلب مخصص</a></li>
                    <li><a href="blog.html">مدونتنا</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>تواصلوا معنا</h5>
                <ul class="list-unstyled">
                    <li><i class="fas fa-envelope"></i> support@alosta.com</li>
                    <li><i class="fas fa-phone"></i> +966 123 456 789</li>
                    <li><i class="fas fa-map-marker-alt"></i> الرياض، المملكة العربية السعودية</li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-4">
            <p>&copy; 2025 الأسطى. جميع الحقوق محفوظة.</p>
        </div>
    </div>
</footer>